.table-body-input {
  width: 100%;
  font-size: 14px;
  border: none;
  background-color: transparent;
  outline-color: var(--yellow);
}

.table-body-input.yellow {
  font-weight: bold;
  width: 85%;
  color: var(--yellow);
}
