@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700");

:root {
  --primary: #ddd;
  --dark: #333;
  --darkGrey: #d4d4dc;
  --light: #fff;
  --yellow: #ffdc00;
  --deepMatteGrey: #393f4d;
  --shadow: (0 1px 5px rgba(104, 104, 104, 0.8));
}

html {
  box-sizing: border-box;
  color: var(--dark);
}

button {
  outline: none;
}

.main-wrapper .data-table-wrapper button:disabled {
  background-color: var(--darkGrey);
  color: rgba(104, 104, 104, 0.8);
  cursor: default;
}

.main-wrapper {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.rect-btn {
  cursor: pointer;
  width: 80px;
  height: 40px;
  color: var(--yellow);
  background-color: var(--deepMatteGrey);
  margin: 10px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  outline: none;
}

.rect-btn:hover:enabled {
  background-color: var(--yellow);
  color: var(--deepMatteGrey);
}

.rect-btn.big.yellow {
  color: var(--deepMatteGrey);
  width: 125px;
  background-color: var(--yellow);
  margin: 0;
}

.rect-btn.big.yellow:hover:enabled {
  background-color: var(--deepMatteGrey);
  color: var(--yellow);
}

.action-btn {
  background-color: var(--yellow);
  border: none;
  border-radius: 50%;
  color: var(--deepMatteGrey);
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
  outline: none;
}

.action-btn:hover:active {
  background-color: var(--deepMatteGrey);
  color: var(--yellow);
}

.blur {
  opacity: 0.5;
}
