.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.modal-main {
  position: fixed;
  background: var(--darkGrey);
  width: 35%;
  height: auto;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0 0 10px 10px;
}

.modal-header {
  text-align: center;
  color: var(--yellow);
  background-color: var(--deepMatteGrey);
  padding: 10px;
  border-radius: 10px 10px 0 0;
}

.modal-main main {
  padding: 20px;
}

.modal-main footer {
  margin: 20px auto;
  display: flex;
  justify-content: center;
}

.modal-header h3 {
  margin: 0;
}

@keyframes modal-fade-in {
  from {
    transform: translateY(-50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.modal-fade-in {
  animation-name: modal-fade-in;
  animation-duration: 0.5s;
}
