.rect-btn {
  cursor: pointer;
  min-width: 50px;
  height: auto;
  color: var(--yellow);
  background-color: var(--deepMatteGrey);
  margin: 10px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  outline: none;
}

.rect-btn:hover:enabled {
  background-color: var(--yellow);
  color: var(--deepMatteGrey);
}

.rect-btn.big.yellow {
  color: var(--deepMatteGrey);
  width: 10%;
  background-color: var(--yellow);
  margin: 0;
}

.rect-btn.big.yellow:hover:enabled {
  background-color: var(--deepMatteGrey);
  color: var(--yellow);
}
