.data-table-wrapper {
}

.data-table-header {
  background-color: var(--dark);
  color: #ffdc00;
  border-radius: 10px 10px 0 0;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 2px solid;
  font-weight: bold;
}

.header-cell {
  flex-basis: 20%;
}

.action-btn {
  background-color: #ffdc00;
  border: none;
  border-radius: 50%;
  color: var(--dark);
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
}

.data-table-body {
  margin: 0 auto;
  background-color: var(--darkGrey);
}

.data-table-row {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.data-table-row-cell {
  flex-basis: 20%;
}

.data-table-footer {
  background-color: var(--dark);
  color: #ffdc00;
  padding: 10px;
  border-radius: 0 0 10px 10px;
  border-top: 2px solid;
  text-align: center;
}
