.data-table-wrapper {
  padding: 20px;
  margin: 30px auto;
  max-width: 960px;
}

.data-table-header {
  background-color: var(--deepMatteGrey);
  color: var(--yellow);
  border-radius: 10px 10px 0 0;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 2px solid;
  font-weight: bold;
}

.data-table-header button {
  color: var(--yellow);
  background-color: transparent;
  border: none;
  cursor: pointer;
  vertical-align: top;
}

.header-cell {
  flex-basis: 20%;
}

.top-btn-wrapper {
  padding: 0 0 10px 0;
  display: flex;
  justify-content: flex-end;
}

.data-table-body {
  background-color: var(--darkGrey);
}

.data-table-row {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.data-table-row:nth-child(even) {
  background-color: #ececec;
}

.no-rows {
  padding: 40px 0 40px 0;
}

.data-table-row-cell {
  flex-basis: 20%;
}

.data-table-footer {
  background-color: var(--deepMatteGrey);
  color: var(--yellow);
  padding: 10px;
  border-radius: 0 0 10px 10px;
  border-top: 2px solid;
  text-align: center;
}

.modal-row {
  padding: 10px;
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: baseline;
}
