.data-table-wrapper {
  padding: 20px;
  margin: 30px auto;
  max-width: 960px;
}

.data-table-wrapper table {
  width: 100%;
  margin-top: 10px;
  table-layout: fixed;
  border-spacing: 0;
}

.data-table-wrapper table th,
.data-table-wrapper table td {
  text-align: left;
  padding: 10px;
}

.data-table-wrapper table thead,
.data-table-wrapper table tfoot {
  background-color: var(--deepMatteGrey);
  color: var(--yellow);
}

.data-table-wrapper table thead tr th:last-child {
  border-radius: 0 10px 0 0;
}

.data-table-wrapper table tfoot tr td:last-child {
  border-radius: 0 0 10px 0;
}

.data-table-wrapper table tfoot tr td:first-child {
  border-radius: 0 0 0 10px;
}

.data-table-wrapper table thead tr th:first-child {
  border-radius: 10px 0 0 0;
}

.data-table-wrapper table tbody {
  background-color: var(--darkGrey);
}

.data-table-wrapper table tbody tr:nth-child(even) {
  background-color: #ececec;
}

.data-table-wrapper table thead button {
  color: var(--yellow);
  background-color: transparent;
  border: none;
  cursor: pointer;
  vertical-align: top;
  padding-left: 0;
  padding-right: 2px;
}

.data-table-wrapper table thead .data-table-actions,
.data-table-wrapper table tbody .data-table-actions {
  width: 7%;
  padding: 0;
}

.top-btn-wrapper {
  display: flex;
  justify-content: flex-end;
}

.top-btn-wrapper .rect-btn.big.yellow:last-child {
  margin-right: 0;
}

.no-rows {
  padding: 40px 0 40px 0;
}

.modal-row {
  padding: 10px;
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: baseline;
}
